log
images
db
colorDB/.colorDB.lock
data
config/certificate.pem
config/config
config/driver_private.key
config/host-cert.pem
config/host-key.pem
config/influxdb.conf
config/progs
config/root-cert.pem
panels/objects/AnaMon/AnaMonRef.xml.bak
panels/objects/MonAnaDrv/MonAnaDrvRef.xml.bak
panels/objects/MonBinVlv/MonBinVlvRef.xml.bak
panels/objects/refPanel.xml
panels/objects/usage.xml.bak
